{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <form action="{% url "api:quote-list" %}" method="post" id="quote_create_form">
        <p><input type="text" name="text" placeholder="Text"></p>
        <p><input type="text" name="author" placeholder="Author"></p>
        <p><input type="text" name="email" placeholder="Email"></p>
        <input type="submit">
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/api_client.js" %}"></script>
    <script type="text/javascript" src="{% static "js/form_control.js" %}"></script>
{% endblock %}
